.app-container {
  display: flex;
  height: 98vh;
  width: 99vw;
  padding: 0;
  margin: 0;
}
/* .app-container .app-header {
  height: 100px;
  background-color: green;
} */
.left-sidebar-container {
  flex: 0 0 auto;
  transition: width 0.3s;
}
.left-sidebar {
  width: 200px;
  transition: width 0.3s;
}

.left-sidebar.collapsed {
  width: 50px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.left-sidebar ul {
  list-style: none;
  padding: 0;
}

.left-sidebar li {
  padding: 10px;
  cursor: pointer;
}

.left-sidebar li.active {
  background-color: #f0f0f0;
}

.main-content {
  flex: 1 1 auto;
  transition: width 0.3s;
  overflow-y: auto;
}

.tab-text {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.tab-text.hidden {
  opacity: 0;
  transition-delay: 0.3s;
}
